@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #212121;
  font-family: 'Fira Code';
  color: #bdbdbd;
}
#github-container .border {
  border: 0;
}

#github-container .float-left {
  display: none;
}

#github-container .float-right {
    float: right;
    display: flex;
    align-items: center;
    float: none;
    justify-content: center;
}
